
/* .App{
   
    height: 100vh;
    flex: 1;
} */
.page-body{
    display: flex;
   height: 100vh;
}
#card-column-area{
   
    flex-direction: column ;
    height: 100vh;
}
.card-footer{
    margin-top:auto;
}