/* .accordion_item.active .button {
  background-color: #105057;
} */
.answer_wrapper {
  height: 0;
  overflow: hidden;
  transition: height ease 0.2s;

}
.answer_wrapper.open {
  height: auto;
  /* height: 100px; */
}