.menutitle{
  margin-top: 8px;
  margin-right: 5px;
}
.dropdown {
    margin: 0;
    padding: 0;
    background: white;
    border: none;
    cursor: pointer;
    text-align: left !important;
}

.dropdown li {
    position: relative;
}

.dropdown li a {
    color: #4466f2;
    /* text-align: center; */
    text-decoration: none;
    display: block;
    padding: 5px 10px;
    cursor: pointer;
}

.dropdown li ul {
    position: absolute;
    top: 100%;
    margin: 0;
    padding: 10px 20px;
    list-style: none;
    display: none;
    line-height: normal;
    background-color: #ffffff;
}

.dropdown li ul li {
    width: 100%;
}

.dropdown li ul li a {
    /* text-align: center; */
    color: #000000;
    font-size: 14px;
    padding: 5px 10px;
    display: block;
    white-space: nowrap;
}

.dropdown li ul li a:hover {
    background-color: #ffffff;
    color: #000000;
}

.dropdown li ul li ul {
    left: 100%;
    top: 0;
}

ul li:hover>a {
    background-color: #ffffff;
    color: #000000 !important;
}

ul li:hover>ul {
    display: block;
}
 